::-webkit-scrollbar {
  width: 0;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.floating_nav {
  position: fixed;
  top: 50%;
  left: 0;
  background-color: #0e1b40;
  width: 140px;
  height: 100vh;
  display: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .floating_nav {
    display: none;
  }
}
.floating_nav_show {
  display: block;
}
@media (max-width: 768px) {
  .floating_nav_show {
    display: none;
  }
}
.floating_nav ul {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.floating_nav ul li a {
  padding: 1em;
  display: block;
  position: relative;
  color: #fff;
  font-size: 1.2rem;
}
.floating_nav ul li a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: all 0.4s ease;
}
.floating_nav ul li a:hover::after {
  width: 100%;
}

.mobile_nav {
  position: fixed;
  top: 0;
  left: -100%;
  width: 60%;
  height: 100vh;
  background-color: #116149;
  z-index: 1000;
  transition: all 0.3s ease-in;
  display: flex;
  align-items: center;
}
.mobile_nav_close {
  position: absolute;
  right: 1em;
  top: 1em;
  background: none;
  border: none;
}
.mobile_nav_close img {
  width: 24px;
  height: 24px;
}
.mobile_nav ul {
  margin-top: -18%;
}
.mobile_nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  display: block;
  padding: 1em;
}

.header_wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 66px;
}
@media (max-width: 768px) {
  .header_wrapper {
    padding: 0 1em;
  }
}
.header .logo h1 {
  font-weight: bold;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
}
@media (max-width: 480px) {
  .header .logo h1 {
    font-size: 1.3rem;
  }
}
.header_navigation ul {
  display: flex;
}
.header_navigation ul li a {
  padding: 0.8em 1em;
  color: #23333e;
  transition: all 0.3s ease;
}
.header_navigation ul li a:hover {
  background-color: #116149;
  color: #fff;
}

.mobile_menu {
  display: none;
  background: none;
  border: none;
  position: fixed;
  z-index: 3333;
  right: 1em;
  top: 1em;
}
.mobile_menu img {
  width: 30px;
}
@media (max-width: 480px) {
  .mobile_menu {
    display: block;
  }
}

.main {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  margin-left: 140px;
  scroll-snap-align: start;
}
@media (max-width: 768px) {
  .main {
    margin-left: 0;
  }
}

.section {
  height: 100vh;
  width: 100%;
  padding: 0 5em;
  scroll-snap-align: start;
  background-color: #fff;
}
.section_wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
.section_primary {
  background-color: #32866f;
}
.section_secondary {
  background-color: #d8f5ec;
}
.section_projects {
  padding: 4em 5em;
}
@media (max-width: 480px) {
  .section_projects {
    padding: 2.5em 1.2em;
  }
}
.section_about {
  padding: 4em 5em;
}
@media (max-width: 480px) {
  .section_about {
    padding: 2.5em 1.2em;
  }
}
.section_contact {
  padding: 4em 5em;
}
@media (max-width: 480px) {
  .section_contact {
    padding: 2.5em 1.2em;
  }
}
.section_title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.8rem;
}
.section_title--projects {
  color: #fff;
}
.section_title--about {
  color: #116149;
}

.projects {
  padding-right: 16px;
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: 220px;
  grid-auto-rows: 220px;
  grid-gap: 16px;
  overflow-y: scroll;
  max-height: 488px;
  padding-bottom: 18px;
}
.projects::-webkit-scrollbar {
  width: 0px;
  display: none;
}
.projects:hover::-webkit-scrollbar {
  width: 10px;
}
@media (max-width: 480px) {
  .projects {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-template-rows: 300px;
    grid-auto-rows: 300px;
  }
}
.projects .project {
  border: 1px solid #ccc;
  color: #fff;
}
.projects .project_item {
  opacity: 0;
  background-color: white;
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}
.projects .project_item_title {
  color: #23333e;
  font-size: 1.1rem;
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 1em;
  box-shadow: 0 3px 3px rgba(17, 97, 73, 0.1);
}
.projects .project_item_tools {
  background-color: #fff;
  height: calc(100% - (20% + 40px));
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects .project_item_tools > div {
  width: 40px;
  height: 40px;
  margin: 10px;
}
.projects .project_item_tools > div img {
  width: 100%;
  height: 100%;
}
.projects .project_item_source {
  display: flex;
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid rgba(17, 97, 73, 0.3);
}
.projects .project_item_source a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-size: 1rem;
  color: #23333e;
  text-transform: uppercase;
}
.projects .project_item_source a:hover {
  background-color: rgba(17, 97, 73, 0.1);
}
.projects .project_item_source img {
  width: 30px;
  height: 30px;
}
.projects .project_item:hover {
  opacity: 1;
}
.projects .project_1 {
  background-image: url("./../assets/project-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.projects .project_2 {
  background-image: url("./../assets/project-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.projects .project_3 {
  background-image: url("./../assets/project-3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.projects .project_4 {
  background-image: url("./../assets/project-4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.projects .project_5 {
  background-image: url("./../assets/project-5.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.projects .project_6 {
  background-image: url("./../assets/project-6.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  margin-top: 3em;
  display: flex;
  overflow-y: scroll;
  max-height: 70vh;
}
@media (max-width: 768px) {
  .about {
    flex-direction: column;
  }
}
.about_img {
  width: 90%;
  max-width: 180px;
}
.about_img img {
  width: 100%;
  height: auto;
}
.about_desc {
  padding: 0 1.2em;
  padding-left: 4em;
  line-height: 1.7;
}
.about_desc p {
  margin-bottom: 1em;
}
.about_desc > div {
  margin-bottom: 1em;
}
@media (max-width: 768px) {
  .about_desc {
    padding: 1em 0;
  }
}
.about_certificates img {
  margin-right: 0.8em;
  width: 180px;
}
@media (max-width: 480px) {
  .about_certificates img {
    width: 100%;
  }
}
.about_skills img {
  max-width: 50px;
  height: auto;
  margin-right: 1em;
}

.contact_wrapper {
  margin-top: 4em;
}
.contact_item {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
.contact_icon {
  width: 40px;
  margin-right: 2em;
  height: auto;
}
.contact_icon img {
  width: 100%;
}
.contact_address a {
  color: #116149;
}
.contact_address a:hover {
  text-decoration: underline;
}

.hero {
  height: calc(100vh - 66px);
}
.hero_wrapper {
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
.hero_textbox {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero_textbox h1 {
  font-size: 5.5vw;
  color: #23333e;
  text-align: center;
}
.hero_textbox h1 div {
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  animation: animateText 0.1s steps(1000) infinite alternate;
}
@media (max-width: 768px) {
  .hero_textbox h1 {
    font-size: 13vw;
  }
}
@media (max-width: 480px) {
  .hero_textbox h1 {
    font-size: 12vw;
  }
}
.hero_textbox p {
  text-align: center;
  padding: 1em 0;
  font-size: 1.6rem;
  margin-bottom: 2em;
  color: #23333e;
  font-weight: bold;
}
.hero_textbox a {
  padding: 0.6em 1.8em;
  background-color: #11644b;
  color: #fff;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  text-transform: capitalize;
}
.hero_textbox a:hover {
  background-color: #fff;
  border: 1px solid #23333e;
  color: #23333e;
}

@keyframes animateText {
  100% {
    background-image: linear-gradient(to right, #31eeaf, #2b9c17);
  }
  100% {
    background-image: linear-gradient(to right, #28b485, #37aa23);
  }
}

/*# sourceMappingURL=style.css.map */
