.header {
  //   box-shadow: 0 3px 3px rgba($black, 0.05), 0 2px 3px rgba($black, 0.1);
  &_wrapper {
    @include wrapper;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 66px;
  }

  .logo {
    h1 {
      font-weight: 400;
    }
  }

  &_navigation {
    ul {
      display: flex;
      li {
        a {
          padding: 0.8em 1em;
          color: $text-color;
          transition: all 0.3s ease;

          &:hover {
            background-color: $primary-color;
            color: $white;
          }
        }
      }
    }
  }
}
