.header {
  &_wrapper {
    @include wrapper;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 66px;
    padding: 0 1em;
  }

  .logo {
    h1 {
      font-weight: bold;
      background-image: linear-gradient(to right, #7ed56f, #28b485);
      -webkit-background-clip: text;
      color: transparent;
      font-family: 'Lobster', cursive;
      position: relative;
      font-size: 1.45rem;
      &::after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 100%;
        border-top-right-radius: 50%;
        height: 3px;
        background-image: linear-gradient(to right, #7ed56f, #28b485);
      }

      @include respond(mobile) {
        font-size: 1.2rem;
      }
    }
  }

  &_navigation {
    ul {
      display: flex;
      li {
        a {
          padding: 0.8em 1em;
          color: $text-color;
          transition: all 0.3s ease;

          &:hover {
            background-color: $primary-color;
            color: $white;
          }
        }
      }
    }
  }
}

.mobile_menu {
  display: none;
  background: none;
  border: none;
  position: fixed;
  z-index: 3333;
  right: 1em;
  top: 1em;
  img {
    width: 30px;
  }
  @include respond(mobile) {
    display: block;
  }
}
