.hero {
  height: calc(100vh - 66px);
  &_wrapper {
    @include wrapper;
    height: 100%;
    position: relative;
  }
  &_textbox {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 5.5vw;
      color: $text-color;
      text-align: center;

      div {
        background-image: linear-gradient(to right, #7ed56f, #28b485);
        -webkit-background-clip: text;
        color: transparent;

        animation: animateText 0.1s steps(1000) infinite alternate;
      }
      @include respond(tablet) {
        font-size: 13vw;
      }
      @include respond(mobile) {
        font-size: 12vw;
      }
    }

    p {
      text-align: center;
      padding: 1em 0;
      font-size: 1.6rem;
      margin-bottom: 2em;
      color: $text-color;
      font-weight: bold;
    }

    a {
      padding: 0.6em 1.8em;
      background-color: lighten($primary-color, 0.6);
      color: $white;
      transition: all 0.3s ease;
      border: 1px solid transparent;
      text-transform: capitalize;

      &:hover {
        background-color: $white;
        border: 1px solid $text-color;
        color: $text-color;
      }
    }
  }
}

@keyframes animateText {
  100% {
    background-image: linear-gradient(to right, #31eeaf, #2b9c17);
  }

  100% {
    background-image: linear-gradient(to right, #28b485, #37aa23);
  }
}
