@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Nunito:wght@500&family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Oleo+Script&family=Satisfy&display=swap');

:root {
  --max-width: 1200px;
  --page-bg-color: #edf1f2;
  --color-primary: #45C476;

  --radius-1: 3px;
  --margin: 18px;

  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-700: #374151;
  --gray-900: #111827;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100vh;
  position: relative;
  height: 100%;
  margin: 0 auto;
  background-color: var(--page-bg-color);
  font-family: 'Lato', sans-serif;

}

button {
  border: none;
  background: none;
}

::-webkit-scrollbar {
  display: none;
}

