$primary-color: #116149;
$secondary-color: #d8f5ec;

$white: #fff;
$black: #0000;

$text-color: #23333e;

::-webkit-scrollbar {
  width: 0;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  background-color: $white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
