.introduction {
  height: 100%;
  margin-top: -2%;
  width: 100%;
  max-width: var(--max-width);
  position: relative;

  @include flex-center(column);

  text-align: center;

  .img {
    max-width: 130px;
    img {
      width: 100%;
    }

    @include respond(mobile) {
      max-width: 100px;
    }
  }

  h2 {
    font-size: 3rem;
    line-height: 1;
    font-family: "Square Peg";
    color: var(--gray-400);

    @include respond(mobile) {
      font-size: 2.5rem;
    }
  }

  p {
    font-size: 1.8rem;
    line-height: 1.3;
    font-weight: 300;
    padding: 1rem 0;
    color: var(--gray-700);

    @include respond(mobile) {
      font-size: 1.1rem;
    }
  }

  button {
    margin-top: 1rem;

    min-width: 140px;
    height: 35px;
    font-size: 1rem;
    color: var(--gray-100);
    cursor: pointer;
    position: relative;
    border: 2px solid var(--gray-700);
    color: var(--gray-700);

    transition: all 0.3s ease;
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 0 40px 5px rgba(#fff, 0.8);
    }
  }
}
