.floating_nav {
  position: fixed;
  top: 50%;
  left: 0;
  background-color: #0e1b40;
  width: 160px;
  height: 100vh;
  display: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;

  @include respond(tablet) {
    display: none;
  }

  &_show {
    display: block;
    @include respond(tablet) {
      display: none;
    }
  }
  ul {
    width: 100%;
    // background: #000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    li {
      a {
        padding: 1em;

        display: block;
        position: relative;

        color: $white;
        font-size: 1.2rem;
        text-transform: capitalize;

        &::after {
          content: "";
          display: block;
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 0;
          height: 2px;
          background-color: #fff;
          transition: all 0.4s ease;
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

.mobile_nav {
  position: fixed;
  top: 0;
  left: -100%;
  width: 60%;
  height: 100vh;
  background-color: $primary-color;
  z-index: 1000;
  transition: all 0.3s ease-in;

  display: flex;
  align-items: center;

  &_close {
    position: absolute;
    right: 1em;
    top: 1em;
    background: none;
    border: none;

    img {
      width: 24px;
      height: 24px;
    }
  }

  ul {
    margin-top: -18%;
    li {
      a {
        text-decoration: none;
        color: $white;
        font-size: 1.2rem;
        display: block;
        padding: 1em;
      }
    }
  }
}
