@mixin adjust-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  margin-left: 140px;
  scroll-snap-align: start;

  @include respond(tablet) {
    margin-left: 0;
  }
}

.section {
  height: 100vh;
  width: 100%;
  padding: 0 5em;
  scroll-snap-align: start;
  background-color: $white;

  &_wrapper {
    @include wrapper;
  }

  &_primary {
    background-color: rgb(50 134 111);
  }

  &_secondary {
    background-color: $secondary-color;
  }

  &_projects {
    padding: 4em 5em;

    @include respond(mobile) {
      padding: 2.5em 1.2em;
    }
  }

  &_about {
    padding: 4em 5em;
    @include respond(mobile) {
      padding: 2.5em 1.2em;
    }
  }

  &_contact {
    padding: 4em 5em;
    @include respond(mobile) {
      padding: 2.5em 1.2em;
    }
  }

  &_title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.8rem;

    &--projects {
      color: $white;
    }

    &--about {
      color: $primary-color;
    }
  }
}

.projects {
  padding-right: 16px;
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(268px, 1fr));
  grid-template-rows: 220px;
  grid-auto-rows: 220px;
  grid-gap: 8px;
  overflow-y: scroll;
  max-height: 488px;
  padding-bottom: 18px;

  &::-webkit-scrollbar {
    width: 0px;
  }

  @include respond(mobile) {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-template-rows: 300px;
    grid-auto-rows: 300px;
  }

  .project {
    border: 1px solid #ccc;
    color: $white;

    &_item {
      opacity: 0;
      background-color: white;
      position: relative;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease;
      &_title {
        color: $text-color;
        // padding: 0.5em 1em;
        font-size: 1.1rem;
        position: relative;
        height: 40px;
        display: flex;
        align-items: center;
        padding-left: 1em;
        box-shadow: 0 3px 3px rgba($primary-color, 0.1);
      }
      &_tools {
        background-color: #fff;
        height: calc(100% - (20% + 40px));
        display: flex;
        align-items: center;
        justify-content: center;
        & > div {
          width: 40px;
          height: 40px;
          margin: 10px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      &_source {
        display: flex;
        width: 100%;
        height: 20%;

        position: absolute;
        bottom: 0;
        left: 0;
        border-top: 1px solid rgba($primary-color, 0.3);

        a {
          @include flex-center;
          width: 50%;

          font-size: 1rem;
          color: $text-color;
          text-transform: uppercase;

          &:hover {
            background-color: rgba($primary-color, 0.1);
          }
        }
        img {
          width: 30px;
          height: 30px;
        }
      }

      &:hover {
        opacity: 1;
      }
    }
    &_1 {
      background-image: url("./../assets/project-1.png");
      @include adjust-background;
      @include respond(tablet) {
        background-image: url("./../assets/project-1-sm.png");
      }
    }

    &_2 {
      background-image: url("./../assets/project-2.png");
      @include adjust-background;
      @include respond(tablet) {
        background-image: url("./../assets/project-2-sm.png");
      }
    }

    &_3 {
      background-image: url("./../assets/project-3.png");
      @include adjust-background;
      @include respond(tablet) {
        background-image: url("./../assets/project-3-sm.png");
      }
    }

    &_4 {
      background-image: url("./../assets/project-4.png");
      @include adjust-background;
      background-position: center;
      @include respond(tablet) {
        background-image: url("./../assets/project-4-sm.png");
      }
    }

    &_5 {
      background-image: url("./../assets/project-5.png");
      @include adjust-background;
      @include respond(tablet) {
        background-image: url("./../assets/project-5-sm.png");
      }
    }

    &_6 {
      background-image: url("./../assets/project-6.png");
      @include adjust-background;
      @include respond(tablet) {
        background-image: url("./../assets/project-6-sm.png");
      }
    }

    &_7 {
      background-image: url("./../assets/project-7.png");
      @include adjust-background;
      @include respond(tablet) {
        background-image: url("./../assets/project-7-sm.png");
      }
    }

    &_8 {
      background-image: url("./../assets/project-8.png");
      @include adjust-background;
      @include respond(tablet) {
        background-image: url("./../assets/project-8-sm.png");
      }
    }

    &_9 {
      background-image: url("./../assets/project-9.png");
      @include adjust-background;
      @include respond(tablet) {
        background-image: url("./../assets/project-9-sm.png");
      }
    }
    &_10 {
      background-image: url("./../assets/project-10.png");
      @include adjust-background;
      @include respond(tablet) {
        background-image: url("./../assets/project-1-sm0.png");
      }
    }

    &_11 {
      background-image: url("./../assets/project-11.png");
      @include adjust-background;
      @include respond(tablet) {
        background-image: url("./../assets/project-1-sm1.png");
      }
    }
  }
}

.about {
  margin-top: 3em;
  display: flex;
  overflow-y: scroll;
  max-height: 70vh;

  @include respond(tablet) {
    flex-direction: column;
  }
  &_img {
    width: 90%;
    max-width: 180px;

    img {
      width: 100%;
      height: auto;
    }
  }

  &_desc {
    padding: 0 1.2em;
    padding-left: 4em;
    line-height: 1.7;

    p {
      margin-bottom: 1em;
    }

    & > div {
      margin-bottom: 1em;
    }

    @include respond(tablet) {
      padding: 1em 0;
    }
  }

  &_certificates {
    img {
      margin-right: 0.8em;

      width: 180px;

      @include respond(mobile) {
        width: 100%;
      }
    }
  }

  &_skills {
    img {
      max-width: 50px;
      height: auto;
      margin-right: 1em;
    }
  }
}

.contact {
  &_wrapper {
    margin-top: 4em;
  }
  &_item {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
  }

  &_icon {
    width: 40px;
    margin-right: 2em;
    height: auto;
    img {
      width: 100%;
    }
  }
  &_address {
    a {
      color: $primary-color;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
