@mixin adjust-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.section {
  height: 100vh;
  width: 100%;
  padding: 0 3em;
  scroll-snap-align: start;
  &_wrapper {
    @include wrapper;
  }

  &_primary {
    background-color: rgb(50 134 111);
  }

  &_secondary {
    background-color: $secondary-color;
  }

  &_projects {
    padding: 4em 0;
  }

  &_about {
    padding: 4em 0;
  }

  &_title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.8rem;

    &--projects {
      color: $white;
    }

    &--about {
      color: $primary-color;
    }
  }
}

.projects {
  padding-right: 16px;
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: 220px;
  grid-auto-rows: 220px;
  grid-gap: 16px;
  overflow-y: scroll;
  max-height: 488px;
  padding-bottom: 18px;

  &::-webkit-scrollbar {
    width: 0px;
    // opacity: 0;
    display: none;
  }

  &:hover {
    &::-webkit-scrollbar {
      width: 10px;
    }
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba($white, 0.6);
    border-radius: 10px;
  }

  // /* Handle on hover */
  // &::-webkit-scrollbar-thumb:hover {
  //   background: rgba($black, 0.1);
  // }

  .project {
    border: 1px solid #ccc;
    color: $white;

    &_item {
      opacity: 0;
      background-color: white;
      position: relative;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease;
      &_title {
        color: $text-color;
        // padding: 0.5em 1em;
        font-size: 1.1rem;
        position: relative;
        height: 40px;
        display: flex;
        align-items: center;
        padding-left: 1em;
        box-shadow: 0 3px 3px rgba($primary-color, 0.1);

        // &::after {
        //   content: "";
        //   width: 100%;
        //   height: 1px;
        //   background-color: $primary-color;
        //   position: absolute;
        //   bottom: -8px;
        //   left: 0%;
        // }
      }
      &_tools {
        background-color: #fff;
        height: calc(100% - (20% + 40px));
        display: flex;
        align-items: center;
        justify-content: center;
        & > div {
          width: 40px;
          height: 40px;
          margin: 10px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      &_source {
        display: flex;
        width: 100%;
        height: 20%;

        position: absolute;
        bottom: 0;
        left: 0;
        border-top: 1px solid rgba($primary-color, 0.3);

        a {
          @include flex-center;
          width: 50%;

          font-size: 1rem;
          color: $text-color;
          text-transform: uppercase;

          &:hover {
            background-color: rgba($primary-color, 0.1);
          }
        }
        img {
          width: 30px;
          height: 30px;
        }
      }

      &:hover {
        opacity: 1;
      }
    }
    &_1 {
      background-image: url("./../assets/project-1.png");
      @include adjust-background;
    }

    &_2 {
      background-image: url("./../assets/project-2.png");
      @include adjust-background;
    }

    &_3 {
      background-image: url("./../assets/project-3.png");
      @include adjust-background;
    }

    &_4 {
      background-image: url("./../assets/project-4.png");
      @include adjust-background;
      background-position: center;
    }

    &_5 {
      background-image: url("./../assets/project-5.png");
      @include adjust-background;
    }

    &_6 {
      background-image: url("./../assets/project-6.png");
      @include adjust-background;
    }
  }
}

.about {
  margin-top: 3em;
  display: flex;
  &_img {
    width: 90%;
    max-width: 180px;

    img {
      width: 100%;
      height: auto;
    }
  }

  &_desc {
    padding: 0 1.2em;
    padding-left: 4em;
    line-height: 1.7;

    p {
      margin-bottom: 1em;
    }

    & > div {
      margin-bottom: 1em;
    }
  }

  &_certificates {
    img {
      margin-right: 0.8em;
      max-width: 100%;
      max-width: 180px;
    }
  }

  &_skills {
    img {
      max-width: 50px;
      height: auto;
      margin-right: 1em;
    }
  }
}
